*.R linguist-vendored=false
*.webarchive linguist-generated
*.csv linguist-generated
*.html linguist-generated
*.rq linguist-generated
*.sparql linguist-detectable=true
*.sparql linguist-vendored=false
